* {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	font-family: monospace;
}

body {
	background-color: #171717;
}

/*Site_bar*/

#site_bar {
	position: absolute;
	background-color: #242424;
	width: 100%;
	border-bottom: 2px solid #34aeeb;
	z-index: 2;
	animation: paused;
	transition: background-color 0.2s;
	box-shadow: 0px 0px 30px #34aeeb;
}

#site_bar:hover {
	position: absolute;
	background-color: #303030;
	width: 100%;
	border-bottom: 2px solid #34aeeb;
	box-shadow: 0px 0px 30px #34aeeb;
	cursor: pointer;
}

#site_bar_text {
	color: #ffffff;
	padding: 10px;
	font-size: 20px;
	text-shadow: 0px 0px 10px #34aeeb;
}

#site_bar_text_x {
	color: #ffffff;
	transition: color 0.2s;
}

#site_bar_text_x:hover {
	color: #34aeeb;
}


/*BackGround*/

#bg {
	height: 100vh;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

#bg_img {
	height: 120vh;
	width: 105%;
	-webkit-filter: blur(10px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

/*Main*/

#main {
	position: absolute;
	z-index: 3;
	width: 250px;
	height: 320px;
	background-color: #242424;
	border-radius: 10px 10px 10px 10px;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -35%);
	box-shadow: 0px 0px 30px #34aeeb;
	animation: paused;
	border: 2px solid #34aeeb;
}

#main_img {
	position: absolute;
	z-index: 4;
	width: 250px;
	height: 150px;
	border-radius: 10px 10px 0px 0px;
}

#song_name {
	position: absolute;
	z-index: 5;
	top: 152px;
	margin: 10px;
	background-color: #33a0ff;
	border-radius: 10px;
	width: 230px;
	box-shadow: 0px 0px 10px #33a0ff;
}

#song_name_text {
	padding: 5px;
	color: #ffffff;
}

/*Player*/

#butt_player {
	position: absolute;
	z-index: 6;
}

#prev {
	background-color: #242424;
	position: absolute;
	z-index: 7;
	width: 60px;
	height: 60px;
	border: none;
	border-radius: 50%;
	top: 245px;
	left: 15px;
	outline: none;
	transition: transform 0.2s;
}

#prev:hover {
	background-color: #242424;
	position: absolute;
	z-index: 7;
	width: 60px;
	height: 60px;
	border: none;
	border-radius: 50%;
	top: 245px;
	left: 15px;
	outline: none;
	transform: scale(1.1);
	box-shadow: 0px 0px 10px #34aeeb;
	cursor: pointer;
}

#prev_img {
	width: 60px;
	height: 60px;
}

#play {
	background-color: #242424;
	position: absolute;
	z-index: 7;
	width: 60px;
	height: 60px;
	border: none;
	border-radius: 50%;
	top: 245px;
	left: 95px;
	outline: none;
	transition: transform 0.2s;
}

#play:hover {
	background-color: #242424;
	position: absolute;
	z-index: 7;
	width: 60px;
	height: 60px;
	border: none;
	border-radius: 50%;
	top: 245px;
	left: 95px;
	outline: none;
	transform: scale(1.1);
	box-shadow: 0px 0px 10px #34aeeb;
	cursor: pointer;
}

#play_img {
	width: 60px;
	height: 60px;
}

#next {
	background-color: #242424;
	position: absolute;
	z-index: 7;
	width: 60px;
	height: 60px;
	border: none;
	border-radius: 50%;
	top: 245px;
	left: 175px;
	outline: none;
	transition: transform 0.2s;
}

#next:hover {
	background-color: #242424;
	position: absolute;
	z-index: 7;
	width: 60px;
	height: 60px;
	border: none;
	border-radius: 50%;
	top: 245px;
	left: 175px;
	outline: none;
	transform: scale(1.1);
	box-shadow: 0px 0px 10px #34aeeb;
	cursor: pointer;
}

#next_img {
	width: 60px;
	height: 60px;
}

/*Song_bar*/

#song_bar {
	margin: -2px;
	z-index: 7;
	width: 228px;
	height: 10px;
	border-radius: 10px;
	border: 2px solid #ffffff;
	box-shadow: 0px 0px 10px #33a0ff;
}

#song_bar_progress {
	background-color: #33a0ff;
	width: 0%;
	height: 10px;
	border-radius: 10px;
	position: absolute;
	left: 11px;
	top: 215px;
}

@keyframes faded {
	0%{box-shadow: 0px 0px 30px #33a0ff;}
	25%{box-shadow: 0px 0px 20px #33a0ff;}
	50%{box-shadow: 0px 0px 30px #33a0ff;}
	75%{box-shadow: 0px 0px 20px #33a0ff;}
	100%{box-shadow: 0px 0px 30px #33a0ff;}
}

@keyframes faded_s {
	0%{box-shadow: 0px 0px 10px #33a0ff;}
	25%{box-shadow: 0px 0px 5px #33a0ff;}
	50%{box-shadow: 0px 0px 10px #33a0ff;}
	75%{box-shadow: 0px 0px 5px #33a0ff;}
	100%{box-shadow: 0px 0px 10px #33a0ff;}
}















/*
	     (Hi!) 
 {\__/}	 /
 ( o_o)
 ( >< )

*/
