* {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	font-family: monospace;
}

body {
	background-color: #171717;
}

/*Site_bar*/

#site_bar {
	position: absolute;
	background-color: #4d4d4d;
	width: 100%;
	border-bottom: 2px solid #2e2e2e;
	z-index: 2;
	box-shadow: 0px 0px 30px #34aeeb;
	animation: paused;
	transition: background-color 0.2s
}

#site_bar:hover {
	position: absolute;
	background-color: #5e5e5e;
	width: 100%;
	border-bottom: 2px solid #2e2e2e;
	box-shadow: 0px 0px 30px #34aeeb;
	cursor: pointer;
}

#site_bar_text {
	color: #ffffff;
	padding: 10px;
	font-size: 20px;
	text-shadow: 0px 0px 10px #34aeeb;
}

#site_bar_text_x {
	color: #ffffff;
	transition: color 0.2s;
}

#site_bar_text_x:hover {
	color: #34aeeb;
}


/*BackGround*/

#bg {
	height: 100vh;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

#bg_img {
	height: 120vh;
	width: 105%;
	-webkit-filter: blur(10px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

/*SongChange*/

#song_style {
	position: absolute;
	z-index: 5;
	top: 70px;
	left: 20px;
	width: 220px;
	height: 170px;
	background-color: #2e2e2e;
	box-shadow: 0px 0px 30px #34aeeb;
	border-radius: 10px;
}


/*Song Var style*/
#song_style_box {
	background-color: #2e2e2e;
	margin: 10px;
	border-radius: 10px;
	transition: background-color 0.2s;
}

#song_style_box:hover {
	background-color: #f5428a;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 10px #34aeeb;
}

#song_style_text {
	font-size: 20px;
	color: #ffffff;
	padding: 10px;
}

#song_style_box_imag {
	background-color: #2e2e2e;
	margin: 10px;
	border-radius: 10px;
	transition: background-color 0.2s;
}

#song_style_box_imag:hover {
	background-color: #34aeeb;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 10px #34aeeb;
}

#song_style_box_dub {
	background-color: #2e2e2e;
	margin: 10px;
	border-radius: 10px;
	transition: background-color 0.2s;
}

#song_style_box_dub:hover {
	background-color: #f02b2b;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 10px #f02b2b;
}

#song_style_box_game {
	background-color: #2e2e2e;
	margin: 10px;
	border-radius: 10px;
	transition: background-color 0.2s;
}

#song_style_box_game:hover {
	background-color: #ff9e36;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 10px #ff9e36;
}

#info_style {
	position: absolute;
	z-index: 5;
	top: 280px;
	left: 20px;
	width: 220px;
	height: 120px;
	background-color: #2e2e2e;
	box-shadow: 0px 0px 30px #34aeeb;
	border-radius: 10px;
	margin-bottom: 20px;
}

#vk {
	background-color: #2e2e2e;
	margin: 10px;
	border-radius: 10px;
	transition: background-color 0.2s;
}

#vk:hover {
	background-color: #4269f5;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #4269f5;
}

#inst {
	background-color: #2e2e2e;
	margin: 10px;
	border-radius: 10px;
	transition: background-color 0.2s;
}

#inst:hover {
	background-color: #f542ec;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #f542ec;
}








/*
	     (Hi!) 
 {\__/}	 /
 ( o_o)
 ( >< )

*/
